body {
}

.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid blue;
    opacity: 0.8;
    position: absolute;
}
.square {
    width: 100px;
    height: 100px;
    background-color: red;
    opacity: 0.8;
    border: 1px solid black;
    position: absolute;
}
.circle {
    width: 200px;
    height: 200px;
    background: green;
    border-radius: 50%;
    border:1px solid black;
    opacity: 0.8;
    position: absolute;
}
.back {
    padding-top: 30px;
    position: relative;
    width: 1000px;
    height: 1000px;
}